@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  width: 100vw;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #007324;
  overflow-x: hidden;
  background-image: url('../public/bg5.jpeg');
  background-size: cover;
  }



  @media (max-width: 600px) {
    body {
      width: 100vw;
      overflow-x: hidden;
    }

    body::-webkit-scrollbar {
      display: none;
    }
  }
  



